<body class ="diary-edit-body">
  <div class="diary-edit-content">
    <h1>日記編集画面</h1>
      <%= form_for(@diary) do |f| %>
        <div class='row'>
          <div class='col-xs-2'>
            <span class="diary-edit-headline">タイトル</span>
          </div>
          <div class='col-xs-2'>
           <%= f.text_field :title, autofocus: true, class: "diary-edit-title", size:60 %>
          </div>
        </div><br><br><br>
        <div class='row'>
          <div class='col-xs-2'>
            <span class="diary-edit-headline">内容</span>
          </div>
          <div class='col-xs-2'>
            <%= f.text_area :body, autofocus: true, class: "diary-edit-diary-body" %>
          </div>
        </div><br><br><br>
        <div class='row'>
          <div class='col-xs-2'>
            <span class="diary-edit-headline">投稿画像</span>
          </div>
          <div class='col-xs-2'>
            <%= attachment_image_tag(@diary, :image, fallback: "no_image.jpg", size: "200x200")%>
            <%= f.attachment_field :image %>
          </div>
        </div><br>
        <div class='row'>
          <div class='col-xs-7'></div>
          <div class='col-xs-1'>
            <%= f.submit "変更する",class: "btn btn-primary btn-lg active" %>
          </div>
        </div>
      <% end %>
  </div>
</body>