<body class ="stack-edit-body">
  <div class="stack-edit-content">
  	<div class="row">
  	  <div class="col-sm-1"></div>
	  <div class="col-sm-4">
		<h1>勉強時間編集画面</h1>
	    <%= form_for [@goal, @stack] do |f| %>
	      <%= f.number_field :study_time, step: '0.1', class:'input_form' %><strong>時間</strong><br>
	      <%= f.submit "変更する", class: "btn btn-lg btn-base-1 mt-20" %>
	    <% end %>
	  </div>
	  <div class="col-sm-6">
	  	<%if current_user == @user %>
        <h1>Myタスクリスト</h1>
        <%= form_with(model:@task, remote:true ) do |f| %>
          <span>タスク内容</span><br>
          <%= f.text_field :body,size:34 %>
          <%= f.submit '追加する' %>
        <% end %>  
	    <div id="tasks"><%= render 'tasks/index', task: @task, tasks: @tasks %></div>
	    <% end %>
	  </div>
	</div>
  </div>
</body>