<body class ="stack-body">
  <div class="stack-content">
	<h1>日々の積み重ね時間の一覧表示</h1>
	<% @goal.stacks.each do |stack| %>
	  <tr>
		<td>
			<%= link_to(stack.user) do %>
			<%= attachment_image_tag(stack.user, :profile_image, fallback: "no_image.jpg", size: "60x60") %>
			<% end %>
		</td>
		<td><%= stack.user.nickname %></td>
		<td><%= stack.created_at.strftime('%Y/%m/%d') %></td>
		<td><%= stack.study_time %></td>
		<td><%= stack.goal.title %></td>
		<td><%= link_to "編集する",edit_goal_stack_path(stack.goal.id,stack.id), class: "btn-sm btn-success" %></td>
		<%= link_to "削除する",goal_stack_path(stack.goal.id,stack.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
		<br>
	  </tr>
	<% end %>
  </div>
</body>
