<body class="event-body">
  <h1><strong><%= @user.nickname %></strong>さんのスケジュール</h1>
  <div class='row'>
    <div class='col-xs-8'>
      <div id="calendar"></div>
      <%= link_to 'スケジュール追加', new_event_path(current_user.id) ,class: "event-btn"%>
      <%= link_to 'スケジュール一覧', events_path(current_user.id) ,class: "event-btn"%>
    </div>
    <div class ="event-back">
      <div class='col-xs-4'>
        <span class ="event-headline"><strong><%= @user.nickname %></strong>さんの記録</span>
        <span><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "100x100" %></span>
      </div>
      <div class='col-xs-4'>
      	<div class ="event-title">通算勉強時間登録回数</div>
          <%if @user.stacks.count < 30 %>
            <span class ="event-study-count">まずは、累計30回登録を目標に頑張りましょう！！</span>
          <%elsif @user.stacks.count < 60 %>
            <span class ="event-study-count">いい調子で、継続しています！次は、累計60回登録を！！</span>
          <%elsif @user.stacks.count < 100 %>
            <span class ="event-study-count">自分の成長を実感出来はじめたころでは？次は１００回を目指していきましょう！</span>
          <%else%>
            <span class ="event-study-count">累計登録１００回以上突破！！この調子で継続しましょう！！</span>
          <% end %>    
      	<div class ="event-content"><%= @user.stacks.count %>回！</div><br>
        <div class ="event-title">累計日記数</div>
          <%if @user.stacks.count < 30 %>
            <span class ="event-study-count">まずは、累計30回投稿を目標にし継続力を！！</span>
          <%elsif @user.stacks.count < 60 %>
            <span class ="event-study-count">いい調子で、継続しています！次は、累計60回投稿を！！</span>
          <%elsif @user.stacks.count < 100 %>
            <span class ="event-study-count">継続力がついてきていますね！！次は１００回を目指していきましょう！</span>
          <%else%>
            <span class ="event-study-count">累計登録１００回以上突破！！この調子で継続しましょう！！</span>
          <% end %>
        <div class ="event-content"><%= @user.diaries.count %>回投稿！</div><br>
      </div>
      <div class='col-xs-4'>
      	<div class ="event-title">目標タイトル一覧（合計<%= @user.goals.count %>件）</div>
        <div class ="event-goal-content">
        <% @user.goals.each do |user| %>
        <%=user.title %>
        <%= link_to "詳細を確認する", goal_path(user.id),class: "btn btn-primary btn-lg active" %><br>
        <% end %>
        </div>
      </div>
      </div>
  </div>
</body>