<body class ="show-body">
  <div class="show-content">
    <h1><strong><%= @user.nickname %></strong>さんの情報</h1>
    <div class='row'>
      <div class='col-xs-3'>
        <table id ="profile",class="table">
    		<tr><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "300x300" %>  
        </tr><br><br>
    		<tr>
    			<th>ニックネーム</th>
    			<th><%= @user.nickname %></th>
    		</tr>
    		<tr>
    			<th>フォロー人数</th>
    			<th><%= link_to follows_show_path(@user.id) do %><%= @user.followings.count %>人<% end %></th>
    		</tr>
    		<tr>
    			<th>フォロワー人数</th>
            	<th><%= link_to followers_show_path(@user.id) do %><%= @user.followers.count %>人<% end %></th>
            	<%if current_user == @user %>
            	<%= link_to ' 編集する', edit_user_path(current_user.id),class: "btn btn-primary btn-lg active" %>
            	<% end %>
            </tr>
            <tr>
              <th>日記投稿数</th>
              <th><%= @user.diaries.count %>回</th>
            </tr>  
            <tr>
            	<th><%= render "relationships/follow_button", user: @user %></th>
            	<th></th>
            </tr>
        </table>
      </div>

      <%if current_user == @user %>
      <div class='col-xs-5'>
        <h3><strong>Myタスクリスト</strong></h3>
        <%= form_with(model:@task, remote:true ) do |f| %>
          <span>タスク内容</span><br>
          <%= f.text_field :body, size:34 %>
          <%= f.submit '追加する' %>
        <% end %>
          <div id="tasks"><%= render 'tasks/index',tasks: @tasks %></div>
      </div>
        <% else %>
          <div class='col-xs-9'>
            <h1>投稿日記一覧（表示件数<%= @user.diaries.count %>件）</h1>
              <table class ="table">
                <thead>
                  <tr>
                    <th>タイトル</th>
                    <th></th>
                    <th>いいね数</th>
                  </tr>
                </thead>
                <tbody>
                  <% @diaries.each do |diary| %>
                    <tr>
                      <td class="user-dairy-all"><%= diary.title %></td>
                      <td ><%= link_to "詳細", diary_path(diary.id),class: "btn btn-primary btn-lg active" %>
                      </td>
                      <td>
                        <div id="favorites-<%= diary.id %>"><%= render 'users/favorite', diary: diary %></div>
                      </td>
                    </tr>
                  <% end %>
                  <%= paginate @diaries %>
                </tbody>
              </table>
          </div>
      <% end %>

      <div class='col-xs-4'>
        <%if current_user == @user %>
          <h3><strong>設定目標の一覧表示</strong></h3>         
          <table>
              <thead>
                <tr>
                  <th class ="show-goal">目標のタイトル</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <div>
                    <% @user.goals.each do |user| %>
                    <tr>
                        <td class ="show-goal"><%= user.title %></td>
                        <td><%= link_to "詳細", goal_path(user.id),class: "btn btn-primary btn-lg active" %></td>
                        <br>
                      </tr>
                    <% end %>
                  <% end %>
                </div>
              </tbody>
          </table>  
      </div>
    </div>
  </div>
</body>

