<body class ="search-body">
  <div class="search-content">
    <% if @diary == "1"%>
      <h1>検索結果（日記タイトル）</h1>
      <tbody>
        <div class ="all-search">
          <% @diaries.each do |diary| %>
            <tr>
              <td>
                <%= link_to(diary.user) do %>
                <%= attachment_image_tag(diary.user, :profile_image, fallback: "no_image.jpg", size: "60x60") %>
                <% end %>
              </td>
              <td>
                <%= link_to(diary.user) do %>
                <%= diary.user.nickname %>
                <% end %>
              </td>
              <td><%= diary.title %></td>
              <td><%= link_to "詳細", diary_path(diary.id),class: "btn btn-primary btn-lg active" %></td>
                <div id="favorites-<%= diary.id %>"><%= render 'users/favorite', diary: diary %></div><br>
            </tr>
          <% end %>
        </div>
      </tbody>    
    <% elsif @diary == "2" %>   
    <% end %>
  </div>
</body>