<div class="row">
  <div class="col-sm-4">
	<h1>目標一覧(表示件数<%= @goals.count %>件）</h1>
	<% @goals.each do |goal| %>
	<tr>
		<td>
			<%= link_to(goal.user) do %>
			<%= attachment_image_tag(goal.user, :profile_image, fallback: "no_image.jpg", size: "60x60") %>
			<% end %>
		</td>
		<td><%= @user.nickname %></td>
		<td><%= goal.title %></td>
		<td><%= link_to "詳細", goal_path(goal.id),class: "btn btn-primary" %></td>
		<br>
	  </tr>
	<% end %>
  </div>
  <div class="col-sm-4">
    <%= render 'tasks/index', task: @task, tasks: @tasks %>
  </div>
</div>