<body class ="goal-new-body">
  <div class="goal-new-content">
	<div class="row">
	  <div class="col-sm-6">
			<h1>目標登録</h1>
			<%= form_for(@goal_new) do |f| %>		 
			    <span class="goal-new-headline">タイトル</span><br>
			    <%= f.text_field :title, class: "goal-new-title",size:92 %><br><br>		 
			    <span class="goal-new-headline">内容</span><br>
			    <%= f.text_area :body, class: "goal-new-goal-body" %><br><br>		    
			    <span class="goal-new-headline">毎日の勉強目標時間（単位：時間）</span><br>
			    <%= f.number_field :set_time, step: '0.1', class: "goal-new-set" %><strong class="new-set_time">時間</strong>		 
			    <%= f.submit '登録する', class: "goal-new-btn" %>		 
			<% end %>
	  </div>
	  <div class="col-sm-3">   
	    <%= render 'tasks/index', task: @task, tasks: @tasks %>
	  </div>
	</div>
  </div>
</body>