<!DOCTYPE html>
<html>
  <head>
    <title>Growing Up Diary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-default a_navbar">
      <div class="container-fluid">
        <div class="navbar-header">       
          <a class="navbar-brand" href="/"><h1 class="a_h_logo">Growing Up Diary</h1></a>        
        </div>
      </div>
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarEexample4">
          <nav>
            <ul class="nav navbar-nav navbar-">
              <li><% if user_signed_in? %>
                  <br><br>
                    <span class="span_rogo">本日も頑張りましょう！<strong><%= current_user.nickname %></strong>さん！</span>
                  <% else %>
                  <% end %>
              </li>
            </ul>
          </nav>

          <div class="row">
            <br>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>       
                <li><%= link_to 'マイページ', user_path(current_user.id), class: 'glyphicon glyphicon-home home' %></li>
                <li><%= link_to 'スケジュール', event_user_path(current_user.id), class: 'glyphicon glyphicon-home home' %></li>
                <li><%= link_to '日記投稿', new_diary_path(current_user.id), class: 'glyphicon glyphicon-user users' %></li>
                <li><%= link_to 'My日記一覧', diaries_path(current_user.id), class: 'glyphicon glyphicon-book books' %></li>
                <li><%= link_to 'みんなの日記', index_all_path(current_user.id), class: 'glyphicon glyphicon-book books' %></li>
                <li><%= link_to '目標登録', new_goal_path(current_user.id), class: 'glyphicon glyphicon-user users' %></li>
                <li><%= link_to '目標一覧', goals_path(current_user.id), class: 'glyphicon glyphicon-home home' %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %></li>
              <% else %>
                <li><%= link_to '新規登録', new_user_registration_path, class: 'glyphicon glyphicon-edit sign_up' %></li>
                <li><%= link_to 'ログイン', new_user_session_path, class: 'glyphicon glyphicon-log-in sign_in' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>  
  <div class="container">
    <p id="notice"><%= notice %></p> 
  </div>
  <%= yield %>
  </html>
